@font-face {
    font-family: "zelda_font";
    src: url('./Assets/zelda_botw_font.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    font-family: "zelda_font";
    font-weight: normal;
}

header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    background-color: #0e5135;
}

body {
    background-color: #4aba91;
}

header h1 {
    padding: 16px;
    color: #d4ce46;
    font-size: 64px;
}

header img{
    height: 100px;
    width: 175px;
}

.container {
    max-width: 1980px;
    width: 100%;
    margin: 0 auto;
}

section .container {
    font-size: 20px;
}

section h2 {
    color: #494b4b;
    margin: 8px;
}

section .container {
    align-items: flex-start;
    background-color: #4aba91;
    color: #494b4b;
}

.oot img {
    float: left;
    margin: auto 8px auto auto;
}

.oot img {
    height: 200px;
}

.oot {
    text-align: justify;
    margin: 8px;
}

footer {
    padding: 16px;
    background-color: #0e5135;
    color: #d4ce46;
    text-align: center;
}

/*sidebar*/

.sidebar {     
    background: #0e5135; 
    box-shadow: 1px 0px 1px 0px #0e5135; 
    border-radius:3px;
    width: 300%;
    padding: 16px;
    margin-right: 8px;
    display: block;
}

.sidebar select {
    width: 100px;
}

.sidebar {
    color: #d4ce46;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar ul li {
    padding: 6px 0;
}

.sidebar ul li a {
    position: relative;
    display: block;
    padding: 4px 0;
    font-size:  18px;
    color: #d4ce46;
    text-decoration: none;
    transition: 0.5s;
}
.sidebar ul li a::after {
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
    background: #0dc9cc;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
}
.sidebar ul li a:hover {
    color: #494b4b;
}
.sidebar ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}
